<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kankerkulit">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp35">
        <activity
            android:name="com.example.kankerkulit.MessageActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kankerkulit.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kankerkulit.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kankerkulit.prediksikanker"
            android:exported="false" />
        <activity
            android:name="com.example.kankerkulit.rumahsakit"
            android:exported="false" />
        <activity
            android:name="com.example.kankerkulit.LoginActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.example.kankerkulit.menu"
            android:exported="false">
        </activity>
        <activity
            android:name="com.example.kankerkulit.Artikel"
            android:exported="false">
        </activity>
        <activity android:name="com.example.kankerkulit.Splash_Screen"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>